--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

flask
python-dotenv
pypdf
sentence-transformers
pinecone-client
langchain
langchain-community
langchain-pinecone
langchain-groq
langchain-huggingface
gunicorn
